# Copy this to .dev.vars and fill in your values
# These are used by wrangler for local development

NUXT_KEY=your-session-key
NUXT_GOOGLE_ADS_CUSTOMER_ID=
NUXT_GOOGLE_ADS_API_TOKEN=
NUXT_GOOGLE_CRUX_API_TOKEN=
NUXT_GOOGLE_ADS_CLIENT_ID=
NUXT_GOOGLE_ADS_CLIENT_SECRET=
NUXT_GOOGLE_ADS_REFRESH_TOKEN=
NUXT_POSTMARK_API_KEY=
NUXT_GSCDUMP_API_KEY=
NUXT_GSCDUMP_WEBHOOK_SECRET=
